[Desktop Entry]
Encoding=UTF-8
Name=Link to What frame to use when adding range_sensor_layer (sonar) to costmap - ROS Answers: Open Source Q&A Forum
Type=Link
URL=http://answers.ros.org/question/224026/what-frame-to-use-when-adding-range_sensor_layer-sonar-to-costmap/
Icon=text-html
Name[en_GB]=noob question great answer (tf frames, urdf, sensor stream to robot / map)
