[Desktop Entry]
Encoding=UTF-8
Name=Link to Adding range_sensor_layer to layered costmap for global planning - ROS Answers: Open Source Q&A Forum
Type=Link
URL=http://answers.ros.org/question/206805/adding-range_sensor_layer-to-layered-costmap-for-global-planning/
Icon=text-html
Name[en_GB]=rangeLayerCostmapsForum(theyknowWhattheyredoing)
